<?xml version="1.0" encoding="UTF-8" ?>
<!-- set system property
-DLog4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector
     to make all loggers asynchronous. -->
     
<!-- Async Loggers will auto-flush in batches, so switch off immediateFlush. -->
 
<!-- logging with location is 4 - 20 times slower than without location. For this reason, 
 	asynchronous loggers and asynchronous appenders do not include location information by default.
 	You can change this by setting includeLocation="true". -->
 	
<Configuration status="debug">
	<Properties>
		<Property name="logPattern">[%d{yyyy-MM-dd HH:mm:ss}] [%t] [%level] %logger.%M(%L) - %msg%n</Property>
		<Property name="logFile.base">${sys:catalina.base}/logs</Property>
	</Properties>
	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="${logPattern}" />
			<!-- 过滤warn以上级别的日志 -->
<!-- 			<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT" /> -->

			<!-- 只输出info-warn级别段的日志 -->
<!-- 			<Filters> -->
<!-- 				<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL" /> -->
<!-- 				<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" /> -->
<!-- 			</Filters> -->
		</Console>

		<Console name="stderr" target="SYSTEM_ERR">
			<PatternLayout pattern="${logPattern}" />
			<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY" />
		</Console>

		<RollingFile name="stdoutFile" fileName="${logFile.base}/stdout.log" filePattern="${logFile.base}/stdout-%d{MM-dd-yyyy}.log.gz" immediateFlush="false">
			<!-- <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT"/> -->
			<PatternLayout pattern="${logPattern}" />
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		
		<RollingFile name="stderrFile" fileName="${logFile.base}/stderr.log" filePattern="${logFile.base}/stderr-%d{MM-dd-yyyy}.log.gz">
			<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="${logPattern}" />
			<TimeBasedTriggeringPolicy />
		</RollingFile>

		<Async name="asyncStdoutFile">
   			<AppenderRef ref="stdoutFile"/>
   		</Async>
   		
		<Async name="asyncStderrFile" includeLocation="true">
   			<AppenderRef ref="stderrFile"/>
   		</Async>
	</Appenders>

	<Loggers>
		<!-- <Logger name="org.springframework" level="warn" additivity="false"> -->
		<!-- <AppenderRef ref="stdout"/> -->
		<!-- </Logger> -->
		<!-- <Logger name="net.dumbee" level="warn" additivity="false"> -->
		<!-- <AppenderRef ref="stdout"/> -->
		<!-- <AppenderRef ref="stderr"/> -->
		<!-- </Logger> -->

		<Root level="info">
			<AppenderRef ref="stdout" />
			<AppenderRef ref="stderr" />
<!-- 			<AppenderRef ref="stdoutFile" /> -->
<!-- 			<AppenderRef ref="stderrFile" /> -->
			<AppenderRef ref="asyncStdoutFile" />
			<AppenderRef ref="asyncStderrFile" />
		</Root>
	</Loggers>
</Configuration>